<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.narengi.android">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission-sdk-23 android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <application
        android:name=".ui.NarengiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label, android:theme, android:name">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a7e2e08f28c9f99aefabc2ca508ba34bb7bf9e75"
            />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".ui.activity.SignInSignUpActivity"
            android:label=""
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.ExploreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.SEARCH"/> -->
            <!-- </intent-filter> -->

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.activity.SearchableActivity" />
            <!-- <meta-data -->
            <!-- android:name="android.app.searchable" -->
            <!-- android:resource="@xml/searchable"/> -->
        </activity>
        <activity
            android:name=".ui.activity.SearchableActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <!-- <meta-data -->
            <!-- android:name="android.app.searchable" -->
            <!-- android:resource="@xml/searchable_recents"/> -->
        </activity>
        <activity
            android:name=".ui.activity.CityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.HouseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.HouseFeaturesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />

        <provider
            android:name=".content.SearchSuggestionProvider"
            android:authorities="xyz.narengi.android.content.SearchSuggestionProvider"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".content.SearchRecentQuerySuggestionsProvider"
            android:authorities="xyz.narengi.android.content.SearchRecentQuerySuggestionsProvider"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.activity.SearchableActivity" />

        <activity
            android:name=".ui.activity.HostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AttractionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.SignUpConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/edit_profile_page_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.MobileInputActivity"
            android:label="@string/mobile_input_page_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.MobileVerificationActivity"
            android:label="@string/mobile_verification_page_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ViewProfileActivity"
            android:label="@string/view_profile_page_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VerificationIntroActivity"
            android:screenOrientation="portrait"
            android:label="@string/verification_intro_page_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.VerificationViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/verification_view_page_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.IdentityCardActivity"
            android:label="@string/identity_card_page_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.VerificationConfirmActivity"
            android:label="@string/verification_confirm_page_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BookActivity"
            android:label="@string/book_page_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.SearchResultMapActivity" />
        <activity
            android:name=".ui.activity.BookSummaryActivity"
            android:label="@string/book_summary_page_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.BookServiceFeeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ui.activity.BookResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ui.activity.HouseMapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.HouseEntryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.HostHousesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_host_houses"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.AddHouseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".service.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.EditHouseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.EditHouseDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddHouseConfirmActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Translucent" />
        <activity android:name=".ui.activity.AroundLocationsMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BookRequestsActivity"
            android:label="@string/title_activity_book_requests"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activity.BookRequestDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
